
body { margin: 0 }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.mainbox.row { height: 30px; top: 0; }
.options.row { height: 30px; top: 30px; }
.buttons.row { height: 30px; top: 60px; }
.body.row { top: 90px; bottom: 0; }




